In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('support_files/plot_details.csv')

In [28]:
df[df['UID'] == 'SPP_1_A'].dropna(axis='columns')

,Name of Industry,Name of allootte Unit,Sector,Plot Number,UID,Area at the time of allotment in Sq. Mtr.,Area at the time of Possession in Sq. Mtr.,Constitution of Organization (Limited,Nature of Project,Proposed Product,...,Lease Deed,Lease Deed Date,Possession,Possession Date,Plot Status,Plot Status Date,Occupancy Certificate,Time Extension1,Time Extension Last,Land Use
1843,SIDC Peepalsana,M/s Belwal Spinning Mills Ltd.,1,A,SPP_1_A,104412.6,104412.6,Company Public Ltd.,Textiles,Spinning,...,Yes,7-Apr-86,Yes,16-Apr-86,Closed,16-Jul-12,No,No,No,Plot

In [19]:
df

,Name of Industry,Name of allootte Unit,Sector,Plot Number,UID,Area at the time of allotment in Sq. Mtr.,Area at the time of Possession in Sq. Mtr.,Constitution of Organization (Limited,Nature of Project,Proposed Product,...,Diesel Generator,Energy Management Systems,"Renewable energy (Solar street lamp, solar panel, solar energy for common areas, Off site renewable energy)",Unnamed: 169,OH&S,"Grievance management Help desk, Hotline, Complaint Box, Other)","Harassment Prevention and Redressal (Harassment redressal team, Sexual harassment redressal team, transport provision for women)","Community Dialogue (Website, Media Release, News Bulletin, Social Media, Other)","Community services such as drinking water supply, water harvesting, health camps etc.","Outreach activities: CSR Activities/ Clean up drives, health camp, public service activities etc."
0,Bahadrabad_II,BABITA JUNEJA,1,A-43,BD2_A-43,273,NaN,Proprietor,Other,Residential Purpose,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bahadrabad_II,BTIJENDER SINGH,1,B-10,BD2_B-10,162.9,NaN,Proprietor,Export Oriented,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bahadrabad_II,DR. N.C. TREHAN,1,A-50,BD2_A-50,300,NaN,Proprietor,Export Oriented,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bahadrabad_II,DR. NARENDER KUMAR,1,B-47,BD2_B-47,167.4,NaN,Proprietor,Export Oriented,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bahadrabad_II,DR. NEELAM SRIVASTAWA,1,B-54,BD2_B-54,167.6,NaN,Proprietor,Export Oriented,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2806,IIE Pantnagar,Titan Company Limited,2,10B,Ptn_00002_10B,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2807,IIE Pantnagar,Tkt Plasto Moulders & Engineers,6,50,Ptn_00006_50,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2808,IIE Pantnagar,Tonglit Autogistic Pvt Ltd,0ITBT,4A,Ptn_0ITBT_4A,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2809,IIE Pantnagar,TVL Engineers Pvt Ltd,9,5,Ptn_00009_5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2810,IIE Pantnagar,Wiretech Auto Industries,6,7,Ptn_00006_7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN